/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

/* Estilos para el encabezado */
header {
  background-color: #005b61;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  max-height: 60px;
}

.login-button {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Estilos para el carrusel */
.carousel {
  max-width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  flex: 0 0 100%;
}

/* Estilos para los controles del carrusel */
.carousel-control {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: #555;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
}

.carousel-left {
  left: 10px;
}

.carousel-right {
  right: 10px;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Estilos adicionales */
.redirect-links {
  text-align: center;
  margin: 20px 0;
}

.redirect-button {
  background-color: #058789;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  margin: 0 5px;
  text-decoration: none;
  display: inline-block;
}

.redirect-button:hover {
  background-color: #005b61;
}

