@import url(https://fonts.googleapis.com/css?family=Raleway:300);

.App {
  font-family: 'Raleway', sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
  color: #333;
}

h2 {
  font-size: 22px;
  color: #333;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #058789; /* Color del botón */
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif; /* Aplicar la fuente Raleway */
}

buttonn {
  background-color: #058789; /* Color del botón */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif; /* Aplicar la fuente Raleway */
}

button:hover {
  background-color: #005b61; /* Cambia el color al pasar el ratón si lo deseas */
}

buttonn:hover {
  background-color: #005b61; /* Cambia el color al pasar el ratón si lo deseas */
}

.ventana-emergente {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left; /* Alinea el texto a la izquierda */
  width: 300px; /* Ajusta el ancho según tu preferencia */
}

.ventana-emergente label {
  display: block;
  margin-bottom: 5px; /* Reduce el espacio entre las etiquetas y los campos de entrada */
}

.ventana-emergente .espace {
  display: block;
  margin-bottom: 12px;
}

.ventana-emergente .usuario-editor {
  margin-bottom: 15px; /* Aumenta el espacio entre el usuario que edita y el botón */
}

.ventana-emergente h2 {
  text-align: center; /* Centra el título "Editar Cita" horizontalmente */
}

.boton-guardar {
  text-align: center; /* Centra el botón "Guardar Cambios" horizontalmente */
}